<h2>welcome to Bookers !!</h2>
<p>In Bookers,<br><br>
 you can share and exchange your opinions , inpressions , and emotions<br><br>
about various books!</p>
<%= link_to "Log in" %>
<%= link_to "Sign Up" %>